* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --branco:white;
    --branco1:#dadada;
    --cinza:#dadada30;
    --roxo:#3e0e58ca;
    --azul:#1b2074;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--branco);
}

header {
    height: 80px;
    width: 100%;
    padding: 0 1rem;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: var(--cinza);
}

.logo {
    height: 60px;
    width: 60px;
    position: relative;
    text-align: center;
}

.logomarca {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    position: absolute;
}

ul {
    margin: 20px;
    padding: 10px 20px;
    display: inline-flex;
    line-height: 1.5;
    list-style: none;
    gap: 20px;

}

ul li {
    width: 100px;
    padding: 5px;
}

ul li:hover {
    animation: cubo 0.5s;
}

@keyframes cubo {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg)
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


a {
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 15px;
    text-decoration: none;
    color: var(--branco);

}

a:hover {
    border-radius: 10px;
    border: 2px solid  var(--branco);
    padding: 15px;
    transition: 0.5s;

}

main {
    width: 100%;
    height: auto;
}

section {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    padding-top: 120px;
    flex-direction: row;
}


#home {
    background-image: url(img/HOME.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#servicos {
    background-image: url(img/servicos.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.servicos-cards {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 200px;
    height: 250px;
    padding: 12px;
    border: 1px solid  var(--branco);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    cursor:pointer ;
    color:var(--branco1);
    background-color:var(--roxo);
}
.conteudo{
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    z-index: 100;
    background-color: var(--azul);
    color: var(--branco);
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    color: var(--branco);
}