    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        padding: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

    div {
        height: 200px;
        width: 200px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .content {
        width: 80%;
        height: 350px;

        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .texto {

        border-radius: 0;
        transition: 1s;
        text-align: center;
        color: gray;
        background-color: gray;
    }

    .texto:hover {
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        transition: 1s;
        color: black;
    }

    .quadrado {
        border-radius: 0;
        transition: 1s;
    }

    .quadrado:hover {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        border: 1px solid red;
        transition: 1s;
        color: red;
        background-color: black;
    }

    .circulo {
        border-radius: 0;
        transition: 1s;
    }

    .circulo:hover {
        border-radius: 50%;
        transition: 1s;
        background-image: linear-gradient(to top right, purple, white, blue);
    }